.service-card {
    background-size: cover;
    background-position: center;
    height: 14vw;
    background-color: rgb(135, 126, 126);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.service-card h3 {
    text-align: center;
    padding: 7vw;
    margin: 0;
    font-size: 1.8vw;
    color: #333;
}