.home-about-section {
    height: 65vw;
    margin: 0 auto;
    margin-top: 4vw;
    background-color: #DFE9F2;
    padding-top: 5vw;
    padding-left: 7vw;
    padding-right: 7vw;
}

.white-container {
    height: 60vw;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    padding: 2vw;
}

.about-text-column {
    flex: 1;
    padding-right: 2px;
    padding-left: 0.5vw;
}

.about-image-column {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-image-column img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 12px;
}

p {
    font-size: 1.6vw;
}

span {
    font-weight: bold;
    color: #1B1959;
}