.faq-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 58vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    background-color: white;
}

.faq-question {
    padding: 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    height: 5vw;
    font-size: 1.4vw;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #F6F5FF;
}

.faq-question.open {
    background-color: white;
}

.faq-answer {
    padding: 10px;
    overflow: hidden;
    max-height: 50vw;
    transition: max-height 4s ease;
    width: 100%;
    white-space: pre-wrap;
}

.faq-item.open .faq-answer {
    max-height: 1000vw;
}

.faq-question::after {
    content: '+';
    font-size: 1.5vw;
    transition: transform 0.3s;
}

.faq-question.open::after {
    content: '×';
    transform: rotate(-95deg);
}

.question-symbol {
    padding-right: 12vw;
    margin-left: auto;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.faq-item.open .question-symbol {
    transform: rotate(-95deg);
}