.service-symptoms {
    margin-top: 3.5vw;
}

.symptoms-title {
    display: inline;
    color: #19154E;
    font-size: 2.5vw;
    letter-spacing: 0.05vw;
}

.service-symptoms p {
    color: #4E5063;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    letter-spacing: 0.05vw;
    font-size: 1.3vw;
}

.service-symptoms .symptoms-title {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: #19154E;
    font-size: 2.8vw;
    font-weight: bold;
}

.service-symptoms-svg {
    width: 3vw;
    height: 3vw;
    margin-right: 2vw;
    display: inline;
}

.service-symptoms-title {
    display: flex;
    align-items: center;
}

@media (max-width: 450px) {

    .service-symptoms-svg {
        width: 12vw;
        height: 12vw;
    }

    .service-symptoms p {
        font-size: 4vw;
    }

    .service-symptoms .symptoms-title {
        font-weight: 700;
        font-size: 5vw;
    }

}