.services {
    margin-top: 3vw;
    padding-left: 7vw;
    padding-right: 7vw;
}

.services-info {
    text-align: left;
}

.services-title {
    font-size: 2.8vw;
    color: #19154E;
    margin-bottom: 2vw;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    letter-spacing: -0.1vw;
}

.services-info p {
    font-size: 1.4vw;
    font-family: "Manrope", sans-serif;
    font-weight: 450;
    line-height: 1.6;
    color: #4E5063;
    margin-bottom: -1vw;
}

.services-info span {
    color: #4E5063;
}

.services-info h3 {
    font-size: 1.6vw;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    letter-spacing: -0.05vw;
    margin-top: 3.5vw;
    margin-bottom: 2.8vw;
}

/* Use grid to handle dynamic columns */
.services-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-card-parent {
    width: 42vw;
}

@media (max-width: 450px) {
    .services {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .services-title {
        font-size: 4.5vw;
    }

    .services-info p {
        font-size: 3.8vw;
    }

    .services-info h3 {
        font-size: 4vw;
        color: #292e5d;
        margin-top: 7vw;
        margin-bottom: 7vw;
    }

    .service-card-parent {
        width: 86vw;
    }

    .services-cards {
        justify-content: center;
    }

}