.top-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    animation: nav-show 1s ease forwards;
    padding-top: 0.3vw;
    padding-bottom: 0.5vw;
    width: 100%;
    height: 3vw;
    z-index: 2;
    transition: all 0.2s;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.scroll-down {
    backdrop-filter: blur(15px);
    box-shadow: 0 0.3px 10px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.left-nav {
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.right-nav {
    display: flex;
    padding-right: 5vw;
    background-color: white;
}

.logo-mini img {
    width: 8vw;
    margin-left: 5vw;
    margin-right: 4vw;
}

.right-nav-items {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item .dropdown {
    display: flex;
    align-items: center;
    margin-right: 2vw;
    height: 0vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.nav-item a {
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    font-size: 1.2vw;
    text-decoration: none;
    color: rgb(78, 80, 99);
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}

.right-nav a:hover {
    font-size: 1;
    text-decoration: underline;
    color: #00366f;
}

.dropdown-content {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: #d3e8ff;
    width: 25vw;
    border-radius: 0.5vw;
    border-radius: 0 0 0.5vw 0.5vw;
    left: -9.3vw;
    z-index: -1;
}

.show-drop-down {
    display: block;
}


.dropdown {
    position: relative;
}

.dropdown-content a {
    padding: 1vw;
    display: block;
}

.dropdown-content a:last-child {
    border-bottom: none;
}


.right-nav .active {
    color: rgb(141, 191, 240)
}

@keyframes nav-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 450px) {
    .bottom-nav {
        position: fixed;
        color: white;
        bottom: 10vw;
        margin-left: 80vw;
        animation: nav-show 1s ease forwards;
    }

    .logo-mini {
        display: flex;
        justify-content: start;
        width: 100%;

    }

    .logo-mini img {
        width: 10vw;
        margin-top: 2vw;
        margin-left: 1vw;
        margin-right: 4vw;
    }

    .top-nav {
        height: 7vw;
    }

    .nav-item a {
        font-size: 2.2vw;
    }

}