.modalities {
    margin-top: 6vw;
    margin-right: 7vw;
    margin-left: 7vw;
}

.modalities-title {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    letter-spacing: -0.1vw;
    margin-top: 4vw;
    font-size: 3.2vw;
    color: #18164E;
    margin-bottom: 3vw;
}

.modalities-cards {
    margin: -1.8vw;
    display: flex;
    justify-content: space-between;
}