.contact-section {
    padding-left: 15vw;
    padding-top: 3vw;
    padding-right: 15vw;
    padding-bottom: 6vw;
    background-color: #fff;
}

.contact-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    gap: 4vw;
}

.contact-text-column {
    flex: 1;
    text-align: left;
    margin-top: 13vw;
}

.contact-text-column h3 {
    color: rgb(117, 53, 225);
    font-size: 1.6vw;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    margin: 0;
    margin-left: 0;
    line-height: 6vw;
}

.contact-text-column h1 {
    color: #19154E;
    font-size: 4.5vw;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    margin: 0;
    margin-left: 0;
    line-height: 5vw;
}

.contact-text-column p {
    font-size: 1.6vw;
    color: #4E5063;
    font-family: "Manrope", sans-serif;
    font-weight: 450;
    margin-right: 1.8vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.contact-form-column {
    margin-top: 11vw;
    flex: 1;
}

#contact-form {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #91C5F2;
}

.form-style {
    width: 100%;
    background-color: #EBF5FF;
    padding: 1vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
    border: none;
    border-radius: 5px;
    font-family: "Manrope", sans-serif;
}

input,
textarea {
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-indent: 10px
}

.form-style.mt-3 {
    margin-top: 1.5vw;
}

.btn {
    padding: 1vw;
    background-color: #A4CCF3;
    color: white;
    font-size: 1.5vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    text-align: center;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.map-section {
    padding-left: 15vw;
    padding-top: 8vw;
    padding-right: 15vw;
    padding-bottom: 6vw;
    background-color: #E7F2FE;

}

.map-hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    gap: 4vw;
}

.map-img-column {
    flex: 1;
}

.map-img-column img {
    border-radius: 2vw;
    height: 40vw;
    width: 35vw;
    object-fit: cover;
}

.map-text-column {
    flex: 1;
    text-align: left;
}

.contact-direction-title p,
.contact-schedule-title p {
    color: rgb(78, 80, 99);
    font-weight: 600;
    margin-top: 3vw;
    margin-bottom: -1.5vw;
    font-size: 1.2vw;
}

.contact-direction-info p,
.contact-schedule-info p {
    font-size: 1.6vw;
    margin-bottom: 3vw;
}

.contact-email a {
    color: #974ae9;
    font-size: 1.6vw;
    font-weight: 600;
}

.contact-email a::after {
    content: '\2192';
    margin-left: 5px;
    opacity: 1;
    transition: opacity 0.2s ease, margin-left 0.2s ease;
    position: absolute;
}

.contact-email a:hover::after {
    margin-left: 9px;
}

.contact-number a {
    color: #19154E;
    font-size: 1.6vw;
    margin-top: -1.5vw;
}

.contact-social-info {
    display: flex;
    gap: 1vw;
    display: flex;
    flex-direction: row;
    height: 1.1vw;
    width: 1.1vw;
}

.contact-social img {
    display: flex;
    flex-direction: row;
    height: 1.2vw;
    width: 1.2vw;
}

.contact-social .social-icons-contact {
    display: flex;
    gap: 1vw
}