.contact-section {
    padding-left: 15vw;
    padding-top: 3vw;
    padding-right: 15vw;
    padding-bottom: 6vw;
    background-color: #fff;
}

.contact-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    gap: 4vw;
}

.contact-text-column {
    flex: 1;
    text-align: left;
    margin-top: 13vw;
}

.contact-text-column h3 {
    color: rgb(117, 53, 225);
    font-size: 1.6vw;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    margin: 0;
    margin-left: 0;
    line-height: 6vw;
}

.contact-text-column h1 {
    color: #19154E;
    font-size: 4.5vw;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    margin: 0;
    margin-left: 0;
    line-height: 5vw;
}

.contact-text-column p {
    font-size: 1.6vw;
    color: #4E5063;
    font-family: "Manrope", sans-serif;
    font-weight: 450;
    margin-right: 1.8vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.contact-form-column {
    margin-top: 11vw;
    flex: 1;
}

#contact-form {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #91C5F2;
}

.form-style {
    width: 100%;
    background-color: #EBF5FF;
    padding: 1vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
    border: none;
    border-radius: 5px;
    font-family: "Manrope", sans-serif;
}

.btn {
    padding: 1vw;
    background-color: #A4CCF3;
    color: white;
    font-size: 1.5vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    text-align: center;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.map-section {
    padding-left: 15vw;
    padding-top: 8vw;
    padding-right: 15vw;
    padding-bottom: 6vw;
    background-color: #D5E9FF;

}

.map-hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    gap: 4vw;
}

.map-img-column {
    flex: 1;
}

.map-img-column img {
    border-radius: 2vw;
    height: 40vw;
    width: 35vw;
    object-fit: cover;
}

.map-text-column {
    flex: 1;
    text-align: left;
}

.footer-direction p {
    font-size: 1.6vw;
    color: #4E5063;
    font-family: "Manrope", sans-serif;
    text-align: left;
    font-weight: 450;
    margin-right: 1.8vw;
}