.about-me {
    padding-left: 7vw;
    padding-top: 3vw;
    padding-right: 7vw;
}

.about-me-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    gap: 40px;
}

.about-me-about-me-text-column {
    flex: 1;
    text-align: left;
    margin-top: 13vw;
}

.about-me-text-column h1 {
    color: #19154E;
    font-size: 4.1vw;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    margin: 0;
    margin-left: 0;
    line-height: 6vw;
}


.about-me-text-column span {
    color: #91C5F2;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    letter-spacing: -0.1vw;
    margin-top: -1.5vw;
    margin-left: 0;
}

.about-me-text-column h3 {
    color: rgb(117, 53, 225);
    font-size: 1.6vw;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    margin: 0;
    margin-left: 0;
    line-height: 6vw;
}

.my-history {
    background: radial-gradient(ellipse closest-side at 50% 50%, #D7EBFF, #ffffff 108%);
}

.about-me-text-column p {
    font-size: 1.6vw;
    color: #4E5063;
    font-family: "Manrope", sans-serif;
    font-weight: 450;
    margin-right: 1.8vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.my-history p {
    font-size: 1.3vw;
    color: #4E5063;
    font-family: "Manrope", sans-serif;
    font-weight: 450;
    margin-right: 1.8vw;
    margin-top: 0.4vw;
    margin-bottom: 1vw;
}

.my-history h2,
.my-background h2 {
    margin-left: 0;
    font-size: 3vw;
    color: #19154E;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

.about-me-image-column {
    flex: 1;
    padding-top: 4vw;
}

.about-me-hero-photo {
    border-radius: 10px;
    width: 35vw;
    height: 40vw;
    object-fit: cover;
}

.about-me-hero-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    gap: 2vw;
    margin-top: 2vw;
    margin-left: 0;
}

.my-background {
    padding-left: 7vw;
    padding-top: 3vw;
    padding-right: 7vw;
}

.my-background-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 !important;
    gap: 40px;
}

.my-background-img-column {
    flex: 1;
    display: flex;
    align-items: center;
}

.photo-background-section {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-background-text-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.first-list-item,
.second-list-item {
    margin-bottom: -2vw;
}

.first-list-bold,
.second-list-bold {
    font-size: 1.2vw;
    display: flex;
}

.first-list-bold::before,
.second-list-bold::before {
    content: '•';
    color: rgb(141, 191, 240);
    font-size: 2.2vw;
    margin-right: 0.3vw;
    display: inline-block;
    vertical-align: middle;
}

.first-list-info,
.second-list-info {
    font-size: 1.2vw;
    margin-top: -2vw;
}

.second-title {
    margin-top: 4vw;
    margin-bottom: 1vw;
    font-weight: 500;
    font-size: 1.8vw;
    font-family: "Manrope", sans-serif;
}